In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data-1.csv");
data

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [3]:
data = data[data['year'] == 2014]
data

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
564,Antigua and Barbuda,2014,female,15-24 years,0,8537,0.00,Antigua and Barbuda2014,0.783,"1,280,133,333",14093,Millenials
565,Antigua and Barbuda,2014,female,25-34 years,0,7578,0.00,Antigua and Barbuda2014,0.783,"1,280,133,333",14093,Millenials
566,Antigua and Barbuda,2014,female,35-54 years,0,15273,0.00,Antigua and Barbuda2014,0.783,"1,280,133,333",14093,Generation X
567,Antigua and Barbuda,2014,female,5-14 years,0,8296,0.00,Antigua and Barbuda2014,0.783,"1,280,133,333",14093,Generation Z
568,Antigua and Barbuda,2014,female,55-74 years,0,6085,0.00,Antigua and Barbuda2014,0.783,"1,280,133,333",14093,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [5]:
countries_2014 = data.groupby('country').aggregate('sum')
countries_2014 = countries_2014[['suicides/100k pop']]
countries_2014

                      year  suicides/100k pop
country
Antigua and Barbuda  24168               0.00
Argentina            24168             111.35
Armenia              24168              37.01
Australia            24168             149.07
Austria              24168             209.82
...                    ...                ...
Ukraine              24168             250.50
United Kingdom       24168              83.93
United States        24168             171.33
Uruguay              24168             248.64
Uzbekistan           24168              85.12

[78 rows x 2 columns]

In [8]:
import geopandas as gpd
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'geopandas'

In [ ]:
# Control del tamaÃ±o de la figura del mapa
fig, ax = plt.subplots(figsize=(10, 10))
 
# Control del tÃ­tulo y los ejes
ax.set_title('Suicides per 100k population in 2014', 
             pad = 20, 
             fontdict={'fontsize':20, 'color': '#4873ab'})
ax.set_xlabel('Longitud')
ax.set_ylabel('Latitud')
 
# Mostrar el mapa finalizado
countries_2014.plot(column='suicides/100k pop', cmap='plasma', ax=ax, zorder=5)